*{
    font-family: 'Roboto Condensed', sans-serif;
}
#intro{
    background: linear-gradient(rgba(102,51,153, 0.65),
    rgba(102,51,153,0.45)), url('../img/header-bg.jpg') 0% 0%/cover;   
}

#footer{
    background: rgb(25,25,25);
    color: white;
}

.bottom-footer{
    background: rgb(23,23,23);
    padding: 5px;
    font-size: 12px;
}

#like, #started, #download{
    background: rgb(102,51,153);
    color: white;
}

.downl{
    min-width: 250px;
    text-align: center;

}

.fill-viewport{
    min-height: 100vh;
}

.fill-viewport-30{
    min-height: 30vh;
}

.transparent-nav{
    background: rgba(0,0,0,0);
}

.button-header{
    background: rgb(102,51,153);
    color: white;
    border-radius: 0px;
    padding: 10px 20px 10px 20px;
    border-left: 3px solid rgb(219,10,91); 
    font-size: 17px;
    font-weight: bold;
}



.button-header:hover{
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    background: rgba(102,51,153, 0.8);
    
}

.button-send{
    background: rgb(102,51,153);
    color: white;
    border-radius: 0px;
    border-left: 3px solid rgb(219,10,91); 
    font-size: 13px;
    width: 150px;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

.button-send:hover{
    background: rgba(102,51,153, 0.8);
}

.form-bord{
    padding: 10px;
    border: 0px;
    color: silver;
    border-bottom: 2px solid rgba(0,0,0, 0.1);
    
}

input::placeholder, textarea::placeholder{
     color: silver;
}

.linkur{
    color: rgba(102,51,153,0.9);
}

.linkur:hover{
    color: rgb(219,10,91);
    text-decoration: none;
}

.bold-text{
    font-weight: bold;
}

.slim-text{
    font-weight: 300;
}

.feat-text{
    
    color: rgba(0,0,0, 0.7);
}



.button-content{
    background: rgb(255,255,255);
    color: rgb(102,51,153);
    border-radius: 0px;
    padding: 10px 20px 10px 20px;
    border-left: 3px solid rgb(219,10,91); 
    font-size: 18px;
    font-weight: bold;
}

.button-content:hover{
    text-decoration: none;
    color:rgba(102,51,153,0.8);
    
}

.dnone{
    visibility: hidden;
}

.header-txt{
    font-weight: bolder;
}

.hasi-color{
    color: rgb(219,10,91);
    font-weight: bold;
}

.text-white-70{
    color: rgba(255,255,255, 0.85);
}

.iko{
    margin-left: 5px;
    color: rgb(219,10,91);
}


.feature-ico{
    text-align: center;
    font-size: 40px;
    margin-top: 23px;
    margin-right: 30px;
    color:rgb(102,51,153);
    width: 50px;
}

.contact-ico{
    text-align: center;
    font-size: 20px;
    color: rgb(102,51,153);
    width: 30px;
    padding: 4px;
    margin-right: 10px;
}

.bg-package{
    background: rgb(102,51,153);
    padding: 20px;
    color: white;
    margin-bottom: 0;
}

.bg-package li:hover{
    color: red;
    cursor: pointer;
}

.price{
    color: rgb(219,10,91);
}
.price-tag{
    font-size: 35px;
    font-weight: bolder;
}

.price2{
    background: rgb(219,10,91);
    padding: 8px;
    margin: 0;
}

.footer-social li{
    display: inline-block;
    margin-left: 15px;
}

.ico{
    color: rgb(102,51,153);
    font-size: 25px;
    
}

.ico:hover{
    color: rgba(102,51,153, 0.8)
}

.ico22{
    font-size: 35px;
    
}

.arrow{
    font-size: 35px;
    padding-top: 50px;
    margin-left: 50px;
}

@media screen and (max-width: 900px){
    .arrow{
        display: none;
    }
}


.kropy{
    padding-left: 7px;
    font-weight: bolder;
    border: 1px solid white;
    padding-bottom: 5px;
    padding-top: 0px;
    text-align: left;
}

.started-icon{
    text-align: center;
    padding: 30px;
    border: 1px solid white;
    border-top: 0px;
    margin-bottom: 10px;
}

.single-started{
    width: 80%;
    text-align: center;
}

.button-download{

}