.fill-viewport{
    min-height: 100vh;
}
/*
#intro{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(255,255,255, 0.8)),url('../img/header-img.png') 0% 0%/cover;
}
*/

.text-70-black{
    color: rgba(0,0,0, 0.7);
}


#intro{
    background: #f9f9f9;
    margin-top: 70px;
}

#contact, #blog{
    background: rgba(0,0,0, 0.01);
}

.ico{
    padding: 40px;
    font-size: 60px;
    text-align: center;
}

.ico2{
    padding: 40px;
    font-size: 48px;
    text-align: center;
}

.desc{
    margin-left: 20px;
}

.no-padding{
    padding: 0;
}

#contact{
    
}

.rightt{
    float: right
}

.desc-doctor{
    margin-top: 10px;
    text-align: center;
}

.blog-link{
    color: rgba(0,0,0, 0.8);
}

.blog-link:hover{
    text-decoration: none;
}


.img-doctor{
    display: flex;
    justify-content: center;
}

.footer-link a{
    color: rgba(0,0,0, 0.7);
}

.footer-link a:hover{
    text-decoration: none;
}

.text-30-black{
    color:rgba(0,0,0, 0.1);
}

.bottom{
    padding: 5px;
    border-top: 1px solid rgba(0,0,0, 0.1);
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.buttonn{
    background: black;
    color: white;
    border: 2px solid transparent;

}

.buttonn:hover{
    background: white;
    color: black;
    border: 2px solid black;
    margin: -2px;
}

.iko:hover{
    color: skyblue;
    cursor: pointer;
    
}